@page
@model GamesCollection.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Company</h1>
<dl>
    <dt>Name</dt>
    <dd>@Model.Company.Name</dd>
    <dt>Country</dt>
    <dd>Model.Company.Country</dd>
    <dt>Website</dt>
    <dd><a href="@Model.Company.Website">@Model.Company.Website</a></dd>
</dl>
<h2>Subsidiaries</h2>
<ul>
</ul>
<h2>Games</h2>
<ul>
</ul>


